<!doctype html>
<html lang="en">
	<head>
		<title>Rate Beer</title>
		<link href="{{ STATIC_URL }}css/style.css" type="text/css" rel="stylesheet" />
		<script data-main="{{ STATIC_URL}}js/main" src="{{ STATIC_URL }}js/libs/require.js"></script>
	</head>
    <body>
        <script type="text/javascript">
            $(document).ready(function() {
                $("html
            });
        </script>
		<div id="container">
        {% block content %}
            <ul id="beers"></ul>
            <div id="number"></div>
            
        {% endblock %}
        {% if user.is_authenticated %}<div class="small logout"><a href="/logout/">logout</a></div>{% endif %}
        </div>
	</body>
</html>


